.author-info {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .header-img {
        width: 140px;
        height: 140px;
        margin-bottom: 50px;
        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
    .author {
        font-size: 32px;
        text-align: center;
        color: #fff;
        margin-bottom: 40px;
    }
    .description {
        color: #fff;
        font-size: 22px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        li {
            display: flex;
        }
    }
    .tags {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        margin-bottom: 40px;
        li {
            margin: 0 20px;
        }
    }

    .likeTing {
        color: #fff;
        font-size: 22px;
        margin-bottom: 40px;
    }

    .start {
        text-align: center;
        button {
            outline: none;
            border-radius: 10px;
            padding: 10px 30px;
            border: 1px solid #ededed;
            color: #fff;
            background: transparent;
            cursor: pointer;
            &:hover {
                border-color: $btn-hover-normal;
            }
        }
    }
}
